SECRET_KEY=django-insecure-&%=5+k+n=7!831a#%cree*fnco+%vqr!q6+ni(#&fk2)nao65(
DB_NAME=database
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
ALPHA_VANTAGE_API_KEY=your_api_key_here
ALPHA_VANTAGE_BASE_URL=https://www.alphavantage.co/query